body {
  background: #f5f5f5;
  user-select: none;
}
body .header {
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 2px solid #eee;
}
body .header .header-center {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
body .header .header-center .logo {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin: 20px 0;
}
body .header .header-center .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
body .header .header-center .logo a img {
  display: block;
  width: 100%;
}
body .header .header-center .name {
  float: left;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  font-size: 35px;
  margin-left: 10px;
}
body .header .header-center .name span {
  margin-left: 20px;
  font-size: 30px;
  font-family: simsun;
  border-left: 1px solid #666;
  padding-left: 20px;
  color: #666;
}
body .header .header-center .server-tel {
  float: right;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  color: #666;
}
body .content {
  width: 1200px;
  padding: 40px 0;
  margin: 40px auto;
  background: #fff;
  border-top: 4px solid #ffdf22;
}
body .content .title {
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  overflow: hidden;
}
body .content .title .title-left {
  float: left;
  font-size: 25px;
  color: #333;
}
body .content .title .title-left .iconfont {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
  color: #62b900;
}
body .content .title .title-right {
  float: right;
  font-size: 25px;
  color: #333;
}
body .content .title .title-right i {
  font-style: normal;
  color: #ff6666;
  margin-right: 5px;
}
body .content .details {
  overflow: hidden;
  padding: 0 40px 40px 80px;
  border-bottom: 1px solid #eee;
}
body .content .details .order-name {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
body .content .details .order-name span {
  color: #e9c804;
}
body .content .details .order-name small {
  float: right;
  cursor: pointer;
  color: #e9c804;
}
body .content .details .order-name small i {
  margin-left: 10px;
}
body .content .details .order-details {
  display: none;
}
body .content .details .order-details p {
  height: 30px;
  line-height: 30px;
  color: #777;
}
body .content .bank-list {
  padding: 0 40px;
  margin-top: 40px;
}
body .content .bank-list .bank-list-title {
  line-height: 50px;
}
body .content .bank-list .bank-list-wrap {
  overflow: hidden;
}
body .content .bank-list .bank-list-wrap .tab {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
body .content .bank-list .bank-list-wrap .tab ul {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
body .content .bank-list .bank-list-wrap .tab ul li {
  float: left;
  padding: 0 20px;
  line-height: 50px;
  cursor: pointer;
  background: #fafafa;
  margin-right: 5px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-bottom: 0;
}
body .content .bank-list .bank-list-wrap .tab ul li.def {
  background: #fff;
  border-top: 2px solid #ffdf22;
}
body .content .bank-list .bank-list-wrap .list-wrap {
  width: 1100px;
  margin: 20px auto;
  padding: 20px 0;
  border-bottom: 1px solid #ffdf22;
}
body .content .bank-list .bank-list-wrap .list-wrap .list-tab {
  overflow: hidden;
  display: none;
}
body .content .bank-list .bank-list-wrap .list-wrap .list-tab ul li {
  width: 200px;
  height: 60px;
  float: left;
  margin: 10px;
  border: 1px solid #eee;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}
body .content .bank-list .bank-list-wrap .list-wrap .list-tab ul li img {
  display: block;
  width: 100%;
}
body .content .bank-list .bank-list-wrap .list-wrap .list-tab ul li:hover {
  border: 1px solid #ffdf22;
}
body .content .bank-list .bank-list-wrap .pay-now-btn {
  width: 200px;
  height: 60px;
  background: #ffd21e;
  border-radius: 5px;
  margin-top: 80px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
body .footer {
  width: 100%;
  height: 100px;
  background: #fff;
  border-top: 2px solid #eee;
}
body .footer p {
  text-align: center;
  font-size: 13px;
  color: #777;
  line-height: 100px;
}
body .footer p span {
  margin-left: 30px;
}
