.dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2b3b70;
  background: -webkit-linear-gradient(#2b3b70, #0b122e);
  background: -moz-linear-gradient(#2b3b70, #0b122e);
  background: -o-linear-gradient(#2b3b70, #0b122e);
  overflow-y: scroll;
}
.dashboard .dashboard-content {
  width: 1231px;
  margin: 40px auto;
}
.dashboard .dashboard-content .dash-title {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
  border-bottom: 1px solid #2656cb;
}
.dashboard .dashboard-content .dash-title .title-right {
  width: 256px;
  height: 56px;
  background: url("../images/home_time.png");
  float: right;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
}
.dashboard .dashboard-content .cont {
  width: 1231px;
  height: 874px;
  margin-top: 24px;
  background: url(../images/home_frame.png) center no-repeat;
  overflow: hidden;
}
.dashboard .dashboard-content .cont .total-wrap {
  width: 1164px;
  height: 168px;
  background: #16307a url(../images/home_characters.png) no-repeat left 34px center;
  margin: 24px auto 0;
}
.dashboard .dashboard-content .cont .total-wrap .total {
  margin-left: 208px;
  padding: 34px 0;
  font-size: 0;
}
.dashboard .dashboard-content .cont .total-wrap .total span {
  display: inline-block;
  width: 54px;
  height: 100px;
  background: url(../images/home_bottom_big1.png);
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 50px;
  margin-right: 10px;
  position: relative;
}
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(9) {
  margin-right: 30px;
  position: relative;
}
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(9):after {
  content: '.';
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: -25px;
}
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(3),
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(6) {
  margin-right: 30px;
  position: relative;
}
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(3):not(:last-child):after,
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(6):not(:last-child):after {
  content: ',';
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: -20px;
}
.dashboard .dashboard-content .cont .total-wrap .total span:nth-child(11):after {
  content: '(元)';
  position: absolute;
  right: -60px;
  font-size: 30px;
}
.dashboard .dashboard-content .cont .today {
  width: 1164px;
  height: 242px;
  margin: 42px auto 0;
}
.dashboard .dashboard-content .cont .today ul {
  overflow: hidden;
}
.dashboard .dashboard-content .cont .today ul li {
  width: 277.5px;
  height: 242px;
  box-sizing: border-box;
  border: 1px solid #3756cc;
  float: left;
}
.dashboard .dashboard-content .cont .today ul li:not(:first-child) {
  margin-left: 18px;
}
.dashboard .dashboard-content .cont .today ul li .li-top {
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 18px;
  color: #fff;
}
.dashboard .dashboard-content .cont .today ul li .li-top.tcolor {
  background: rgba(25, 52, 125, 0.45);
}
.dashboard .dashboard-content .cont .today ul li .li-top.acolor {
  background: #7f5a13;
}
.dashboard .dashboard-content .cont .today ul li .count {
  height: 144px;
  line-height: 144px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.dashboard .dashboard-content .cont .all {
  width: 1164px;
  height: 242px;
  margin: 18px auto 0;
}
.dashboard .dashboard-content .cont .all ul {
  overflow: hidden;
}
.dashboard .dashboard-content .cont .all ul li {
  width: 277.5px;
  height: 242px;
  box-sizing: border-box;
  border: 1px solid #3756cc;
  float: left;
}
.dashboard .dashboard-content .cont .all ul li:not(:first-child) {
  margin-left: 18px;
}
.dashboard .dashboard-content .cont .all ul li .li-top {
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 18px;
  color: #fff;
}
.dashboard .dashboard-content .cont .all ul li .li-top.tcolor {
  background: rgba(25, 52, 125, 0.45);
}
.dashboard .dashboard-content .cont .all ul li .li-top.acolor {
  background: rgba(175, 117, 7, 0.75);
}
.dashboard .dashboard-content .cont .all ul li .count {
  height: 144px;
  line-height: 144px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.dashboard .dashboard-content .cont .all-stores {
  width: 1164px;
  height: 72px;
  border: 1px solid #3756cc;
  box-sizing: border-box;
  margin: 18px auto 0;
  background: #122352;
  line-height: 72px;
  padding: 0 34px;
  font-size: 18px;
  color: #fff;
}
.dashboard .dashboard-content .cont .all-stores span {
  vertical-align: middle;
}
.dashboard .dashboard-content .cont .all-stores .stores-count {
  display: inline-block;
  margin-left: 16px;
  font-size: 0;
  vertical-align: super;
}
.dashboard .dashboard-content .cont .all-stores .stores-count span {
  display: inline-block;
  width: 30px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background: url(../images/home_bottom_small.png);
  margin-right: 4px;
  font-size: 18px;
}
.dashboard .dashboard-content .cont .all-stores .stores-count span:nth-child(3n) {
  margin-right: 12px;
  position: relative;
}
.dashboard .dashboard-content .cont .all-stores .stores-count span:nth-child(3n):not(:last-child):after {
  content: ',';
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: -10px;
}
