::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
body .main-wrap {
  max-width: 640px;
  margin: 0 auto;
}
body .main-wrap .banner {
  width: 100%;
}
body .main-wrap .banner img {
  display: block;
  width: 100%;
}
body .top-notice {
  width: 100%;
  background: #f3f3f3;
  padding: 0.1rem 0.2rem;
  box-sizing: border-box;
}
body .top-notice p {
  line-height: .4rem;
  font-size: .24rem;
  color: #333;
}
body .top-notice p span {
  color: #fa4550;
  font-size: .34rem;
}
body .top-notice p:before {
  content: "";
  display: inline-block;
  width: .1rem;
  height: .4rem;
  background: #f2da29;
  vertical-align: middle;
  margin-right: .1rem;
}
body .store-name {
  padding: .28rem 0 0.22rem;
  text-align: center;
  box-sizing: border-box;
}
body .store-name h2 {
  font-size: .26rem;
  color: #333;
  vertical-align: middle;
}
body .store-name h2 i {
  display: inline-block;
  width: 1rem;
  height: .05rem;
  background: #dedede;
  vertical-align: middle;
  position: relative;
}
body .store-name h2 i.line-left {
  margin-right: .33rem;
}
body .store-name h2 i.line-left:after {
  content: '';
  display: inline-block;
  width: .2rem;
  height: .2rem;
  background: #dedede;
  border-radius: .1rem;
  position: absolute;
  top: -0.07rem;
  right: 0;
}
body .store-name h2 i.line-right {
  margin-left: .33rem;
}
body .store-name h2 i.line-right:before {
  content: '';
  display: inline-block;
  width: .2rem;
  height: .2rem;
  background: #dedede;
  border-radius: .1rem;
  position: absolute;
  top: -0.07rem;
  left: 0;
}
body .coupon {
  width: 100%;
  height: 1.6rem;
  overflow: hidden;
}
body .coupon ul li {
  display: inline-block;
  height: 1.6rem;
  background: #fa454f;
  border-radius: .1rem;
  position: relative;
  margin-right: .08rem;
  vertical-align: middle;
}
body .coupon ul li.can:after {
  content: '';
  display: block;
  position: absolute;
  width: .8rem;
  height: .8rem;
  background: url(../images/seller_coupon1.png);
  background-size: 100%;
  right: 0;
  top: 0;
  z-index: 0;
}
body .coupon ul li.cant:after {
  content: '';
  display: block;
  position: absolute;
  width: .8rem;
  height: .8rem;
  background: url(../images/seller_coupon2.png);
  background-size: 100%;
  right: 0;
  top: 0;
  z-index: 0;
}
body .coupon ul li:nth-child(1) {
  margin-left: .27rem;
}
body .coupon ul li .left-ico-wrap {
  position: absolute;
  width: .17rem;
  height: 1.6rem;
  left: -0.085rem;
  top: 0;
}
body .coupon ul li .left-ico-wrap i {
  display: block;
  width: .17rem;
  height: .17rem;
  background: #fff;
  border-radius: .1rem;
  margin: .05rem 0;
}
body .coupon ul li .right-ico-wrap {
  position: absolute;
  width: .17rem;
  height: 1.6rem;
  right: -0.085rem;
  top: 0;
  z-index: 1;
}
body .coupon ul li .right-ico-wrap i {
  display: block;
  width: .17rem;
  height: .17rem;
  background: #fff;
  border-radius: .1rem;
  margin: .05rem 0;
}
body .coupon ul li .coupon-content {
  height: inherit;
}
body .coupon ul li .coupon-content .coupon-row-1 {
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  color: #fff;
  font-size: .26rem;
}
body .coupon ul li .coupon-content .coupon-row-1 i {
  font-size: .2rem;
  font-style: normal;
}
body .coupon ul li .coupon-content .coupon-row-1 i.mgr {
  margin-right: 0.1rem;
}
body .coupon ul li .coupon-content .coupon-row-1 b {
  font-size: .5rem;
}
body .coupon ul li .coupon-content .coupon-row-1 b.mgr {
  margin-right: 0.1rem;
}
body .coupon ul li .coupon-content .coupon-btn {
  width: 2.25rem;
  height: .3rem;
  background: #fef000;
  margin: 0 auto;
  border-radius: .1rem;
  color: #000;
  font-size: .22rem;
  text-align: center;
  line-height: .3rem;
}
body .coupon ul li .coupon-content .coupon-btn.NO {
  background: #fef000;
}
body .coupon ul li .coupon-content .coupon-btn.YES {
  background: #dedede;
}
body .coupon ul li .coupon-content .coupon-ro-3 p {
  font-size: .22rem;
  line-height: .33rem;
  color: #fff;
  text-align: center;
  margin-top: .05rem;
}
body .coupon ul li .coupon-content .coupon-ro-3 small {
  display: block;
  font-size: .2rem;
  line-height: .3rem;
  color: #faf6cc;
  text-align: center;
}
body .grey-line {
  width: 100%;
  height: .24rem;
  background: #f5f5f5;
  margin: .3rem auto;
}
body .coupon-store-list {
  padding-bottom: 1.2rem;
}
body .coupon-store-list .coupon-store-list-title {
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  font-size: .28rem;
}
body .coupon-store-list .coupon-store-list-title i {
  display: inline-block;
  width: .8rem;
  height: .15rem;
  background: url(../images/other_business_top@3x.png);
  background-size: 100%;
  margin: 0 0.2rem;
}
body .coupon-store-list .coupon-store-list-title span {
  color: #f1454f;
}
body .coupon-store-list .coupon-store-list-title a {
  display: inline-block;
  height: 100%;
  line-height: .4rem;
  padding: 0 0.1rem;
  color: #000;
  text-decoration: none;
  margin-left: .1rem;
  font-size: .2rem;
  position: relative;
}
body .coupon-store-list .coupon-store-list-title a small {
  display: inline-block;
  width: .2rem;
  height: .2rem;
  background: url(../images/refresh_icon@3x.png) no-repeat center;
  background-size: 100%;
  margin-right: .05rem;
  margin-top: 0.01rem;
}
body .coupon-store-list .coupon-store-list-title a .scale {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fef000;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skew(-10deg, 0);
}
body .coupon-store-list .store-list {
  width: 100%;
  overflow: hidden;
  padding-top: .1rem;
}
body .coupon-store-list .store-list a {
  display: block;
  float: left;
  width: 3.55rem;
  height: 1.76rem;
  margin: 0.05rem  0.1rem;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: .1rem;
  position: relative;
}
body .coupon-store-list .store-list a.NO {
  border: 1px solid #ca2a38;
  background-size: 100%;
}
body .coupon-store-list .store-list a.NO:before {
  content: '';
  display: block;
  position: absolute;
  width: .2rem;
  height: .2rem;
  border-top: 1px solid #ca2a38;
  border-right: 1px solid #ca2a38;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(45deg);
  border-radius: .1rem;
  background: #fff;
  box-sizing: border-box;
  left: -0.12rem;
  bottom: 0.3rem;
  z-index: 2;
}
body .coupon-store-list .store-list a.NO:after {
  content: '';
  display: block;
  position: absolute;
  width: .2rem;
  height: .2rem;
  border-top: 1px solid #ca2a38;
  border-left: 1px solid #ca2a38;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(-45deg);
  border-radius: .1rem;
  background: #fff;
  box-sizing: border-box;
  right: -0.12rem;
  bottom: 0.3rem;
  z-index: 2;
}
body .coupon-store-list .store-list a.YES {
  border: 1px solid #909090;
  background-size: 100%;
}
body .coupon-store-list .store-list a.YES:before {
  content: '';
  display: block;
  position: absolute;
  width: .2rem;
  height: .2rem;
  border-top: 1px solid #909090;
  border-right: 1px solid #909090;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(45deg);
  border-radius: .1rem;
  background: #fff;
  box-sizing: border-box;
  left: -0.12rem;
  bottom: 0.3rem;
  z-index: 2;
}
body .coupon-store-list .store-list a.YES:after {
  content: '';
  display: block;
  position: absolute;
  width: .2rem;
  height: .2rem;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(-45deg);
  border-radius: .1rem;
  background: #fff;
  box-sizing: border-box;
  right: -0.12rem;
  bottom: 0.3rem;
  z-index: 2;
}
body .coupon-store-list .store-list a .title {
  font-size: .54rem;
  color: #c92a37;
  font-weight: bold;
  padding: 0 0 0 0.2rem;
}
body .coupon-store-list .store-list a .title span {
  display: inline-block;
  height: .2rem;
  width: .2rem;
  border-radius: .1rem;
  background: #cd2b39;
  text-align: center;
  line-height: .2rem;
  color: #fff;
  font-size: .15rem;
  vertical-align: middle;
  margin-right: .1rem;
}
body .coupon-store-list .store-list a .title i {
  font-style: normal;
  font-size: .26rem;
  font-weight: normal;
  margin-left: .1rem;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1.7rem;
}
body .coupon-store-list .store-list a .intro {
  padding: 0 0.2rem;
}
body .coupon-store-list .store-list a .intro p {
  font-size: .2rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .coupon-store-list .store-list a .dead-line {
  padding: 0 0.2rem;
}
body .coupon-store-list .store-list a .dead-line p {
  font-size: .18rem;
  color: #999;
}
body .coupon-store-list .store-list a .get-btn {
  text-align: center;
  font-size: .24rem;
  color: #fff;
  line-height: .4rem;
  margin-top: .05rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body .coupon-store-list .store-list a .get-btn.NO {
  background: #ca2a38;
}
body .coupon-store-list .store-list a .get-btn.YES {
  background: #909090;
}
body .coupon-store-list .store-list a .get-btn span {
  display: inline-block;
  width: .2rem;
  height: .2rem;
  border-radius: .1rem;
  background: #fff;
  vertical-align: middle;
  margin-left: .1rem;
}
body .coupon-store-list .store-list a .get-btn span img {
  display: block;
  width: 100%;
}
body .bottom {
  width: 7.5rem;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 3;
}
body .bottom .bottom-left {
  width: 50%;
  height: inherit;
  background: #f9414a;
  float: left;
}
body .bottom .bottom-left a {
  text-decoration: none;
}
body .bottom .bottom-left a .coupon-icon {
  width: .36rem;
  height: .3rem;
  background: url(../images/business_foot_voucher_icon@3x.png) no-repeat;
  background-size: 100%;
  margin: .16rem auto 0.05rem;
}
body .bottom .bottom-left a p {
  text-align: center;
  font-size: .28rem;
  color: #fff;
}
body .bottom .bottom-right {
  width: 50%;
  height: .8rem;
  background: #009900;
  float: left;
  margin-top: .2rem;
  position: relative;
  text-align: center;
  font-size: .3rem;
  color: #fff;
  line-height: .8rem;
}
body .bottom .bottom-right:before {
  content: '';
  display: block;
  position: absolute;
  border-bottom: .1rem solid #8d1118;
  border-left: .1rem solid #8d1118;
  border-top: .1rem solid transparent;
  border-right: .1rem solid transparent;
  top: -0.2rem;
}
body .share-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}
body .share-mask img {
  display: block;
  width: 100%;
}
