*{
    padding: 0;
    margin: 0;
    font-family: 'microsoft yahei';
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
li{
    list-style: none;
}
img{
    border: 0;
}
input{
    outline: none
}
.toast{
    padding: .3rem 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    position: fixed;
    font-size: .3rem;
    border-radius: 0.05rem;
    top:40%;
    width: 3rem;
    left:50%;
    margin-left: -1.5rem;
    text-align: center;
    z-index: 9999;
}
